.container_project_card {
    /* width: 190px;
    height: 254px; */
    /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
    background-image: linear-gradient(163deg, #7c6be9 0%, #2d7c31 100%);
    border-radius: 20px;
    transition: all .3s;
}

.child_project_card {
    /* width: 190px;
    height: 254px; */
    @apply w-full h-full;
    /* background-color: #1a1a1a; */
    /* border-radius: 0; */
    transition: all .2s;
}

.child_project_card:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
   
.container_project_card:hover {
    /* box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30); */
    box-shadow: 0px 0px 30px 1px rgba(124, 107, 233, 0.30);
}